.tile
{
  color : green;
  height : 50px;
  width:50px;
  background-color: #555;
}
div.row
{
  column-count: 9;
}

a.button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

div.starter
{
  column-count: 4;
  column-gap: 50px;
}
