
div.starter
{
  column-count: 4;
  column-gap: 50px;
}

div.playerStats
{
  column-width: 50px;
}

div.boardAndPlayer
{
  column-width: 100px;
}

div.mainGameStyle
{
  column-count: 2;
  visibility: hidden;
}



a.button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}
